<div data-role="page" id="home">
  <%= render "header" %>

  <div data-role="content">

    <div>
      <ul data-role="listview">
        <li>
          <a href="#about-us">About Super-Driver</a>
        </li>
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, rel: :external) %>        
          </li>
        <% else %>
          <li>
            <%= link_to "Sign Up FREE", new_user_registration_path, rel: :external %>
          </li>
          <li>
            <%= link_to('Login to existing account', new_user_session_path, rel: :external)  %>  
          </li>
        <% end %>
        <li>
          <a href="#contact">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="about-us">
  <%= render "header" %>

  <div data-role="content">

    <div class="ui-body ui-body-a ui-corner-all">
      <h2>Do you ever have difficult Busy Periods?</h2>
      <p><strong>More orders</strong> thank your drivers can handle? or maybe you'd rather not manage your own drivers?</p><p>Then say hello to <strong>Super-Driver!</strong> The delivery service where you pay per delivery.</p>

      <p>Here's How:</p>
    </div>
    <br>
    <div class="ui-body ui-body-a ui-corner-all">
    <h3>How it works</h3>
    <h4>1.) Enter address</h4>
    <p>Get price & pick-up time</p>

    <h4>2.) A Super-Driver collects</h4>
    <p>Out drivers are trained and know the local area</p>

    <h4>3.) Fast delivery</h4>
    <p>Happy customers!</p>
    <p>We also send you a confirmation text</p>
    <%= link_to "Back", :back %>
  </div>
</div>

<hr>
</div>

<div data-role="page" id="contact">
  <%= render "header" %>

  <div data-role="content">
    <div class="ui-body ui-body-a ui-corner-all">

    <h2>Contact Us</h2>

    <p>Tel: 07772622352</p>
    <p>Email: will@driverhunt.com</p>
    <p>Offices:<br>
      Driver Hunt<br>
      Satellite House<br>
      17 Corsham Street<br>
      Hackney<br>
      London<br>
      N1 6DR
    </p>
    <%= link_to "Back", :back %>
    <br><br>
  </div>
  </div>
</div>