<!DOCTYPE html>
<html>
<head>
  <title>Superdriver</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-role="page" id="<%= controller_name %>-<%= action_name %>">
  <h1 class="header"><%= image_tag "Logo.png" %>Super-Driver<span class="com">.com</span></h1>

  <div data-role="navbar">
    <ul>
      <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        </li>
      <% else %>
        <li>
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to('Login', new_user_session_path)  %>  
        </li>
      <% end %>
    </ul>
  </div>
  <div data-role="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
